<head>
  <link rel="stylesheet" href="update-building.component.css">
</head>

<div class="edit-building">
  <div class="edit-form">
      <div class="form-row">
          <label for="selectedBuildingId">Select Building:</label>
          <select [(ngModel)]="selectedBuildingId" id="selectedBuildingId">
              <option *ngFor="let building of buildings" [ngValue]="building._id">{{ building.name }}</option>
          </select>
      </div>
      <div class="form-row">
          <label for="name">Building Name:</label>
          <input type="text" [(ngModel)]="buildingData.name" name="name" id="name" placeholder="Building Name" required>
      </div>
      <div class="form-row">
          <label for="localizationoncampus">Localization on Campus:</label>
          <input type="text" [(ngModel)]="buildingData.localizationoncampus" name="localizationoncampus" id="localizationoncampus" placeholder="Localization on Campus" required>
      </div>
      <div class="form-row">
          <label for="floors">Number of Floors:</label>
          <input type="number" [(ngModel)]="buildingData.floors" name="floors" id="floors" placeholder="Number of Floors" required>
      </div>
      <div class="form-row">
          <label for="lifts">Number of Lifts:</label>
          <input type="number" [(ngModel)]="buildingData.lifts" name="lifts" id="lifts" placeholder="Number of Lifts" required>
      </div>
      <div *ngFor="let cell of buildingData.maxCel; let i = index" class="form-row">
          <label for="cell{{i}}">Max Cell Value {{i + 1}}:</label>
          <input type="number" [(ngModel)]="buildingData.maxCel[i]" name="cell{{i}}" id="cell{{i}}" placeholder="Max Cell Value">
      </div>
      <div class="button-row">
          <button type="button" (click)="addMaxCel()">Add Max Cell</button>
          <button type="button" (click)="removeMaxCel(buildingData.maxCel.length - 1)">Remove Last Cell</button>
      </div>
      <div class="button-row">
          <button (click)="updateBuilding()">Update</button>
      </div>
  </div>
</div>
