<h1>Edit Floor</h1>
<div>
  <div>
    <table>
      <tr>
        <th><label>Floor: </label></th>
        <th>
          <select [(ngModel)]="floor">
            <option *ngFor="let floor of floors" [ngValue]="floor._id">{{ floor.name }}</option>
          </select>
        </th>
      </tr>
      <tr>
        <th><label>Floor Name: </label></th>
        <th><input [(ngModel)]="floor.name" placeholder="Floor Name"/></th>
      </tr>
      <tr>
        <th><label>Building: </label></th>
        <th>
          <select [(ngModel)]="floor.building">
            <option *ngFor="let building of buildings" [ngValue]="floor.building">{{ building.name }}</option>
          </select>
        </th>
      </tr>
      <tr>
        <th><label>Description: </label></th>
        <th><input [(ngModel)]="floor.description" placeholder="Description"/></th>
      </tr>
      <tr>
        <th><label>Hall: </label></th>
        <th><input [(ngModel)]="floor.hall" placeholder="Hall"/></th>
      </tr>
      <tr>
        <th><label>Number of rooms: </label></th>
        <th><input type="number" [(ngModel)]="floor.room" placeholder="Number of rooms"/></th>
      </tr>
      <tr>
        <th><label>Floor Map: </label></th>
        <th><input [(ngModel)]="floor.floorMap" placeholder="Floor Map"/></th>
      </tr>
      <tr>
        <th><label>Has Elevator: </label></th>
        <th><input type="checkbox" [(ngModel)]="floor.hasElevator" /></th>
      </tr>
      <tr *ngFor="let passage of floor.passages; let i = index">
        <th><label for="passage{{i}}">Passage {{i + 1}}: </label></th>
        <th>
          <select [(ngModel)]="floor.passages[i]" id="passage{{i}}">
            <option *ngFor="let floor of floors" [ngValue]="floor._id">{{ floor.name }}</option>
          </select>
        </th>
        <button type="button" (click)="addPassage()">Add Passage</button>
        <button type="button" (click)="removePassage(i)">Remove Passage</button>
      </tr>
      
    </table>
  </div>
  <div>
    <button class="buttonBack" (click)="goBack()">Back</button>
    <button (click)="editFloor()">Edit</button>
  </div>
</div>
