<head>
  <link rel="stylesheet" href="change-robot-state.component.css">
</head>
<section class="main-content">

<div class="container">
  <div class="table-section">
    <table>
      <tr>
        <th><label for="robotSelect">Select Robot:</label></th>
        <td>
          <select id="robotSelect" [(ngModel)]="id" name="robotSelect">
            <!-- Display this option if there are no active robots -->
            <option *ngIf="activeRobots.length === 0" disabled>No Active Robots Found</option>

            <!-- Display active robots if available -->
            <option *ngFor="let robot of activeRobots" [value]="robot.id">
              {{ robot.nickname }}
            </option>
          </select>
        </td>
      </tr>
    </table>
    <div class="button-section">
      <button (click)="changeRobotState()" [disabled]="activeRobots.length === 0">Change</button>
      <button routerLink="/main-menu">Back</button>
    </div>
  </div>
</div>

<p>{{ finalMessage }}</p>
