
<section class="main-content">
    <div class="horizontal-stepper">
    <div class="register-container">
        <form>
            <h1>Register</h1>
            <div class="form-field">
                <input name="firstName" type="text" placeholder="First Name" pattern="[A-Za-z]+" title="Only alphabetic characters are allowed" required>
            </div>
            <div class="form-field">
                <input name="lastName" type="text" placeholder="Last Name" pattern="[A-Za-z]+" title="Only alphabetic characters are allowed" required>
            </div>
            <div class="form-field">
                <input name="email" type="email" placeholder="Email" required>
            </div>
            <div class="form-field">
                <input name="password" type="password" placeholder="Password" required>
            </div>
            <div class="form-field">
                <input name="phonenumber" type="tel" placeholder="Phone Number" pattern="[0-9]{9}" title="Phone number should be 9 digits" required>
            </div>
            <h3>Privacy Policy</h3>
            <div class="button-container">
            <button type="button" class="button" (click)="openPrivacyPolicyPopup()">Terms and Conditions</button>
        </div>
            <div class="checkbox">
                <input type="checkbox" id="termsAndConditions" name="termsAndConditions" required>
                <label for="termsAndConditions">I declare I have read and agree to the Terms and Conditions.</label>
            </div>
            <div class="button-container">
            <button type="button" (click)="register($event)" class="btn btn-primary">Register</button>
        </div>
        </form>
</div>
</div>
</section>
