.lift-form {
  width: 400px; /* Set the desired width */
  margin: 0 auto;
  opacity: 0.95;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  padding: 20px; /* Set overall padding */
  padding-right: 30px; /* Adjust right padding */
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Form row styles */
.form-row {
  margin-bottom: 15px;
}
.main-content {
  background-image: url('../../../assets/image.jpg');
  background-size: cover; 
  height: calc(100vh - 40px); 
}
.form-row button:disabled {
  background-color: gray;
  color: white; 
  cursor: not-allowed; 
}

/* Label styles */
.form-row label {
  display: block;
  margin-bottom: 6px;
  color: #333;
}

span{
  color: red;
  margin-left: 3px;
}

/* Input styles */
.form-row input,
.form-row select {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styles */
.form-row button {
  padding: 10px 15px;
  border: none;
  margin-right: 35px; /* Adjust as needed */
  border-radius: 4px;
  color: #fff;
  background-color: #42545C;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-row button:hover {
  background-color: #344955;
}

.form-row button:active {
  background-color: #000;
}

/* Align the label for the entire row */
.form-row > label {
  display: block; /* Make the label a block to occupy full width */
  margin-bottom: 10px; /* Add some space below the label */
}

/* Container for the radio buttons and their labels */
.radio-container {
  display: flex; /* Use flexbox for horizontal alignment */
  align-items: center; /* Center items vertically */
}

/* Style each radio button and its label */
.radio-option {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  margin-right: 20px; /* Space between radio options */
}

/* Hide the browser's default radio button style */
.radio-option input[type="radio"] {
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* For Safari */
  margin: 0; /* Reset margin */
  font-size: 1em; /* Size of the custom radio button */
  width: 1em; /* Width of the custom radio button */
  height: 1em; /* Height of the custom radio button */
  border: 1px solid #ccc; /* Border for the custom radio button */
  border-radius: 50%; /* Make it round */
  background: white; /* Background color of the custom radio button */
  position: relative; /* Position relative for pseudo-element positioning */
}

/* Style when the radio button is checked */
.radio-option input[type="radio"]:checked::before {
  content: ''; /* Add content for the pseudo-element */
  position: absolute; /* Position absolutely within the radio button */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the pseudo-element */
  width: 0.5em; /* Width of the inner circle */
  height: 0.5em; /* Height of the inner circle */
  border-radius: 50%; /* Make it round */
  background: #42545C; /* Inner circle color when checked */
}

/* Style the label next to the radio button */
.radio-option label {
  margin-left: 5px; /* Spacing between radio button and label */
  cursor: pointer; /* Change cursor to pointer to indicate clickable area */
}
