<head>
    <link rel="stylesheet" href="create-lift.component.css">
  </head>
  <section class="main-content">

  <form (ngSubmit)="createLift()" #liftForm="ngForm" class="lift-form">
    <div class="form-row">
      <label for="localization">Localization<span>*</span>:</label>
      <input type="text" id="localization" [(ngModel)]="liftData.localization" name="localization" required>
    </div>
  
    <div class="form-row">
      <label>State<span>*</span>:</label>
      <div class="radio-container">
        <div class="radio-option">
          <input type="radio" id="stateActive" value="Active" name="state" [(ngModel)]="liftData.state" required>
          <label for="stateActive">Active</label>
        </div>
        <div class="radio-option">
          <input type="radio" id="stateMaintenance" value="Maintenance" name="state" [(ngModel)]="liftData.state" required>
          <label for="stateMaintenance">Maintenance</label>
        </div>
      </div>
    </div>
    
    
    
  
    <div class="form-row">
      <label for="building">Building<span>*</span>:</label>
      <select id="building" [(ngModel)]="liftData.building" name="building" required>
        <option value="">Select a building</option>
        <option *ngFor="let building of buildings" [ngValue]="building._id">{{ building.name }}</option>
      </select>
    </div>
  
    <div class="form-row">
      <button type="submit" [disabled]="!liftForm.valid">Create Lift</button>
      <button routerLink="/main-menu">Back</button>
    </div>
  </form>
  