<h1>Create a Room</h1>
<div>
  <div>
    <table>
      <tr>
        <th><label>Floor Identifier: </label></th>
        <th><input [(ngModel)]="room.floor" /></th>
      </tr>
      <tr>
        <th><label>Room Name: </label></th>
        <th><input [(ngModel)]="room.name" /></th>
      </tr>
      <tr>
        <th><label>Category: </label></th>
        <th><input [(ngModel)]="room.category" /></th>
      </tr>
      <tr>
        <th><label>Room Description: </label></th>
        <th><input [(ngModel)]="room.description" /></th>
      </tr>
      <tr>
        <th><label>Room Dimension: </label></th>
        <th><input [(ngModel)]="room.dimension" /></th>
      </tr>
    </table>
  </div>
  <div>
    <button class="buttonBack" (click)="goBack()">Back</button>
    <button (click)="createRoom()">Create</button>
  </div>
</div>
