<h1>Add a robot</h1>
<div>
  <div>
    <table>
      <tr>
        <th><label>Nickname: </label></th>
        <th><input [(ngModel)]="robot.nickname" placeholder="Robot nickname" required/></th>
      </tr>
      <tr>
        <th><label>Robot Type: </label></th>
        <th>
          <select [(ngModel)]="selectedTypeId">
            <option *ngFor="let robot of rt" [ngValue]="robot._id">{{ robot.designation }}</option>
          </select>
        </th>
      </tr>      
      <tr>
        <th><label>Serial Number: </label></th>
        <th><input [(ngModel)]="robot.serialNumber" placeholder="Robot serial number" required/></th>
      </tr>
      <tr>
        <th><label>Description: </label></th>
        <th><input [(ngModel)]="robot.description" placeholder="Robot description" required/></th>
      </tr>
      <tr>
        <th><label>Is Active: </label></th>
        <th><input type="checkbox" [(ngModel)]="robot.isActive" /></th>
      </tr>
    </table>
  </div>
  <div>
    <button class="buttonBack" (click)="goBack()">Back</button>
    <button (click)="addRobot()">Add</button>
  </div>
</div>
