<h1>Add a robot</h1>
<div>
  <div>
    <table>
      <tr>
        <th><label>Nickname: </label></th>
        <th><input [(ngModel)]="robot.nickname" /></th>
      </tr>
      <tr>
        <th><label>Robot Type: </label></th>
        <th><input [(ngModel)]="robot.type" /></th>
      </tr>
      <tr>
        <th><label>Serial Number: </label></th>
        <th><input [(ngModel)]="robot.serialNumber" /></th>
      </tr>
      <tr>
        <th><label>Description: </label></th>
        <th><input [(ngModel)]="robot.description" /></th>
      </tr>
      <tr>
        <th><label>Is Active: </label></th>
        <th><input type="checkbox" [(ngModel)]="robot.isActive" /></th>
      </tr>
    </table>
  </div>
  <div>
    <button class="buttonBack" (click)="goBack()">Back</button>
    <button (click)="addRobot()">Add</button>
  </div>
</div>
