<nav>
    <a routerLink="/create-building"> Create Building</a>
    <a routerLink="/create-floor">Create Floor</a>
    <a routerLink="/create-room">Create Room</a>
    <a routerLink="/create-lift">Create Lift</a>
    <a routerLink="/create-robot">Create Robot Type</a>
    <a routerLink="/list-buildings">List Buildings</a>
    <a routerLink="/edit-floor">Edit Floor</a>
    <a routerLink="/add-robot">Add Robot</a>
    <a routerLink="/change-robot-state">Change Robot State </a>
    <a routerLink="/building-selection">Update Building</a>



</nav>
