.top-bar {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    align-items: flex-start; /* Aligns items to the start of the container */
    position: fixed;
    top: 2;
    right: 16px;
    padding: 10px 20px;
    border-bottom-left-radius: 8px;
}

.user-profile-link {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    z-index: 9999; /* Ensures it's on top of other elements */
}

section {
    margin-bottom: 20px;
}

.main-content {
    background-image: url('../../../assets/image.jpg');
    background-size: cover; 
    height: calc(100vh - 40px); 
}

h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #666;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

nav a:hover {
    color: #fff;
    background-color: #42545C;
}

nav a:active {
    background-color: #000;
}

/* Animation for links */
nav a {
    transform: translateY(-10px);
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;
    animation-delay: calc(var(--index) * 0.1s);
}

@keyframes fadeInUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Styles for the logout button */
.logout-button {
    color: #ffffff;
    background-color: #ff4d4d;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 45px;
}

.logout-button:hover {
    background-color: #cc0000;
}

.logout-button:focus {
    outline: none;
}

.user-profile-button {
    color: #ffffff; /* White text */
    background-color: #20cc59a9; /* Same background color as before */
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border-radius: 8px;
    border: none; /* Removes the default border */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none; /* Removes the underline */
    display: inline-block; /* Allows setting dimensions */
    margin-bottom: 10px; /* Space between this button and the next element */
}

.user-profile-button:hover {
    background-color: #1ab34d; /* Slightly darker shade on hover */
}

.user-profile-button:focus {
    outline: none; /* Removes the outline on focus for a cleaner look */
}
