<h1>Create a Room</h1>
<div>
    <div>
      <table>
        <tr>
          <th><label>Floor: </label>
          <th><input [(ngModel)]="room.floor" />
        </tr>
        <tr>
          <th><label>Name: </label>
          <th><input [(ngModel)]="room.name" />
        </tr>
        <tr>
          <th><label>Category: </label>
          <th><input [(ngModel)]="room.category" />
        </tr>
        <tr>
          <th><label>Description: </label>
          <th><input [(ngModel)]="room.description" />
        </tr>
        <tr>
          <th><label>Dimension: </label>
          <th><input [(ngModel)]="room.dimension" />
        </tr>
      </table>
    </div>
    <div>
      <button class="buttonBack" (click)="goBack()">Back</button>
      <button (click)="createRoom()">Create</button>
    </div>
</div>