/* Reset */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Headings */
h1, h2, h3 {
    color: #333;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px;
}

/* Paragraphs */
p {
    color: #555;
    margin-bottom: 20px;
}

/* Lists */
ul {
    margin-bottom: 20px;
    list-style-position: inside;
}

/* Make list items display in front of the dot */
ul, ol {
    list-style-position: inside;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

/* Layout */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header and Footer Styles */
.header, .footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
