/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.main-content {
  background-image: url('../../assets/bcklogreg.jpg');
  background-size: cover; 
  height: 100vh; 
}

.button-back {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

.horizontal-stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
}
h3 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
}

form {
    font-family: 'Roboto', sans-serif;

}
.form-field {
    margin-bottom: 15px;
    width: calc(100% - 20px);
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Checkbox Styles */
.checkbox {
    margin: 10px 0;
}

.checkbox input {
    margin-right: 5px;
}

.checkbox label {
    font-size: 14px;
}