<head>
  <link rel="stylesheet" href="create-floor.component.css">
</head>

<section class="main-content">
<form (ngSubmit)="createFloor()" *ngIf="buildings.length > 0" class="prettier-form responsive-form">
  <div class="form-row">
      <label for="name">Floor Name:<span>*</span></label>
      <input type="text" id="name" [(ngModel)]="floorData.name" name="name" required>
  </div>

  <div class="form-row">
      <label for="building">Building:<span>*</span></label>
      <select id="building" [(ngModel)]="floorData.building" name="building" required>
          <option *ngFor="let building of buildings" [ngValue]="building._id">{{ building.name }}</option>
      </select>
  </div>

  <div class="form-row">
      <label for="description">Description:<span>*</span></label>
      <textarea id="description" [(ngModel)]="floorData.description" name="description" required></textarea>
  </div>

  <div class="form-row">
    <app-single-file-upload (uploadSuccess)="handleUploadSuccess($event)"></app-single-file-upload>

      <div>Current Floor Map: {{ floorData.floorMap }}</div>
  </div>

  <div class="form-row">
      <label for="hasElevator">Has Elevator:<span>*</span></label>
      <input type="checkbox" id="hasElevator" [(ngModel)]="floorData.hasElevator" name="hasElevator">
  </div>

  <div class="form-row">
      <button type="submit">Create Floor</button>
  </div>
</form>

<div *ngIf="buildings.length === 0">
  <p>Loading buildings...</p>
</div>
<!-- Display error message -->
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <!-- Display success message -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
