<head>
  <link rel="stylesheet" href="list-2-Buildings-Passage.component.css">
</head>

<section class="main-content">
  <div class="container">
    <div class="table-section">
      <table>
        <tr>
          <th><label>Edifício1:</label></th>
          <td>
            <select [(ngModel)]="selectedBuildingID1">
              <option *ngFor="let Building1 of buildings" [ngValue]="Building1._id">{{ Building1.name }}</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label>Edifício2:</label></th>
          <td>
            <select [(ngModel)]="selectedBuildingID2">
              <option *ngFor="let Building2 of buildings" [ngValue]="Building2._id">{{ Building2.name }}</option>
            </select>
          </td>
        </tr>
      </table>
      <button (click)="ListPassageBetween2Buildings()">Listar</button>
    </div>
  </div>  
  
</section>
<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
