<h1>Edit Floor</h1>
<div>
  <div>
    <table>
      <tr>
        <th><label>Floor: </label></th>
        <th>
          <select [(ngModel)]="selectedFloorId">
            <option *ngFor="let floor of floors" [ngValue]="floor._id">{{ floor.name }}</option>
          </select>
        </th>
      </tr>
      <tr>
        <th><label>Floor Map: </label></th>
        <app-single-file-upload (uploadSuccess)="handleUploadSuccess($event)"></app-single-file-upload>
      </tr>
  </div>
  <div>
    <button class="buttonBack" (click)="goBack()">Back</button>
    <button (click)="editFloorMap()">Update floor map</button>
  </div>
</div>