<div>
  <div>
    <table>
      <tr>
        <th><label>Building: </label></th>
        <th>
          <select [(ngModel)]="selectedBuildingId">
            <option *ngFor="let building of buildings" [ngValue]="building._id">{{ building.name }}</option>
          </select>
          <button (click)="listFloorsFromBuilding()">List Floors</button>
        </th>
      </tr>
    </table>
  </div>
  <div *ngIf="Floors.length > 0">
    <ul>
      <li *ngFor="let floor of Floors">
        <Strong>Floor name: </Strong> {{ floor.name }}
        <div >
         <Strong>Description: </Strong> {{ floor.description }} <br>
         <Strong>Hall: </Strong> {{ floor.hall }} <br>
        </div>
      </li> 
    </ul>
  </div>
  <div *ngIf="Floors.length === 0">
    <p>No floors found for this building.</p>
  </div>
</div>
