<div>
  <div>
    <table>
      <tr>
        <th><label>Building: </label></th>
        <th>
          <select [(ngModel)]="selectedBuildingId">
            <option *ngFor="let building of buildings" [ngValue]="building._id">{{ building.name }}</option>
          </select>
          <button (click)="listFloorsFromBuilding()">List Floors</button>
        </th>
      </tr>
    </table>
  </div>
  <div *ngIf="Floors.length > 0">
    <ul>
      <li *ngFor="let floor of Floors">
        {{ floor.name }}
        <!-- Display the floor map image -->
        <div>
          <img [src]="floor.floorMap" alt="Floor Map" style="max-width: 100%; height: auto;">
        </div>
      </li> 
    </ul>
  </div>
  <div *ngIf="Floors.length === 0">
    <p>No floors found for this building.</p>
  </div>
</div>
